@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    background-image: linear-gradient(to left, rgb(49, 49, 49), rgba(27, 27, 27, 0.404));
    margin: 20px auto 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 0 solid transparent;
    font: normal bold 1.2em Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.596);
    

}

button:hover {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.644));
    cursor: pointer;
    
}