@charset "UTF-8";

body >button {
    background-color: rgba(49, 49, 49, 0.397);
    font: normal normal 1em Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 0 10px 0 0;
    border: 3px solid transparent;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
}

body > button:hover {
    border: 3px solid rgba(75, 75, 75, 0.336)
}