@charset "UTF-8";

body {
    background-color: #2894EB;
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px #000000bb;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    box-shadow: 5px 5px 5px #00000070;
}

.contador {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

input#inicio, input#fim, input#passo {
    background-color: transparent;
    padding: 2px;
    border-top: 0;
    border-left: 0 ;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 1px #000000be;
}