@charset "UTF-8";

body {
    background-color: #2894EB;
    font: normal normal 1em Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px #000000bb;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    box-shadow: 5px 5px 5px #00000070;
}

#tabuada {
    width: 160px;
    height: 100px;
    overflow-y: auto;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px 1px #000000be;
}